{% extends '::base.html.twig' %}

{% block body %}

    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for actor in listactor %}
            <tr>
                <td>{{ actor.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}